<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



    <title>Call Tracker</title>
</head>

<body>
    <div class="wrapper">
        <% include partials/navbar.ejs %>
        <br><br>
        <div class="container text-center">


<br><br><br><br><br>
            <form method="POST" action="search">
                <div class="form-group text-center">
                    <input type="text" class="form-control"
                        placeholder="Enter first name to search" name="search">
                </div>
                <button type="submit">Search...</button>
            </form>

            <br><br><br>
            
            <p><%= data.fName +" "+ data.lName%></p>
            <p><%= data.company%></p>
            <p><%= data.telephone%></p>
            <p><%= data.email%></p>
            <p><%= data.address%></p>
            <p><%= data.addressTwo%></p>
            <p><%= data.city%></p>
            <p><%= data.state%></p>
            <p><%= data.zip%></p>
            




            <!-- Button trigger modal ticketform-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Create a Ticket
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle" for="ticketNum">Ticket Creation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="ticketForm" class="">
                                <div class="form-group ">
                                    <input type="text" class="form-control" value="<%=tickNum.ticketNumber%>" name="ticketNum">
                                </div>
                                <br>
                                <div class="form-group ">
                                    <input type="text" class="form-control" name="firstName" value="<%= data.fName%>">
                                </div>
                                <br>
                                <div class="form-group ">
                                    <input type="text" class="form-control" name="lastName" value="<%= data.lName%>">
                                </div>
                                <br>
                                <div class="form-group ">
                                    <input type="text" class="form-control" value="<%= data.company%>" name="companyName">
                                </div>
                                <br>
                                <div class="form-group ">
                                    <input type="text" class="form-control" value="<%= data.telephone%>" name="telephone">
                                </div>
                                <br>
                                <div class="form-group ">
                                    <input type="email" class="form-control" value="<%= data.email%>" name="email">
                                </div>
                                <br>
                                <!-- <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Generate ticket number" name="ticketNum">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Generate</button>
                                    </div>
                                </div>
                                <br> -->
                                <div>
                                    <select class="custom-select" id="inputGroupSelect02" name="status">
                                        <option selected>Status...</option>
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </div><br>
                                <br>
                            
                                <div class="form-group ">
                                    <input type="text" class="form-control" placeholder="Subject" name="subject">
                                </div>
                                <br>
                            
                            
                                <div class="form-group ">
                                    <textarea class="form-control " name="notes" placeholder="Notes" cols="30" rows="10"></textarea>
                                </div>
                            
                                <button class="btn btn-secondary" type="submit">Enter</button>
                            </form>

                            
                        </div>
                        <div class="modal-footer">
                            <!-- Buttons here -->
                        </div>
                    </div>
                </div>
            </div>








        </div><!-- End Container div -->



        <br><br><br><br>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <!-- Footer Section -->
        <footer class="text-center footer">
            <hr>
            End of Page
        </footer>



</body>

</html>